* {
  font-family: Lucida Console, black;
  margin: 0px;
  padding: 0px;
  color: black;
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

img {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.health-percentage {
    width: 152px;
    text-align: right;
}

.health-bar-border {
    width: 152px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
}

.health-bar {
    width: 150px;
    height: 10px;
    border: 1px solid #00ff99;
    border-radius: 5px;
    background-color: #00ff99;
}

#separator {
    height: 50px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	padding:5px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width: 100%;
}
button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

/* ANIMATIONS */

@keyframes shake {
   0%  {left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

div.enemy_name {
  animation-name: shake;
  animation-duration: 10s;
}